@using RPWRazor
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/UEditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/UEditor/ueditor.all.js"></script>
    <script type="text/javascript">
        $(function () {

            //页面加载时候，实例化富文本编辑器 
            var ue = UE.getEditor('container');

            $("#btnSave").click(function () {
                var editorhtml = ue.getContent(); //获取带格式的富文本内容
                alert(editorhtml);
                var segmetsName = $("#SegmetsName").val();
                var serialNo = $("#SerialNo").val();
                var videoCode = $("#videoCode").val();
                var saveAction = $("#saveAction").val();
                var id = $("#id").val();
                //课程的id
                var chapterId = $("#chapterId").val();
                //验证..
                if (segmetsName.length == 0) {
                    alert("段落名称不能为空");
                    return;
                }
                if (videoCode.length == 0) {
                    alert("视频代码不能为空");
                    return;
                }
                if (serialNo.length == 0) {
                    alert("段落序号不能为空");
                    return;
                }
                $.ajax({
                    type: "post", url: "SegmentController.ashx",
                    data: {
                        action: "save", saveAction: saveAction,
                        segmetsName: segmetsName,
                        note: editorhtml,
                        serialNo: serialNo,
                        id: id,
                        chapterId: chapterId,
                        videoCode: videoCode
                    },
                    success: function (data) {
                        if (data.Status == "ok") {
                            window.location.href = "SegmentController.ashx?action=list&chapterId=" + chapterId;
                        } else if (data.Status == "error") {
                            alert(data.Msg);
                        }
                    },
                    error: function () {
                        alert("请求失败！");
                    }
                });


            });
        });

    </script>
</head>
<body>
    <input type="hidden" id="saveAction" value="@Model.action" />
    <input type="hidden" id="id" value="@Model.id" /><!--编辑的段落的id-->
    <input type="hidden" id="chapterId" value="@Model.chapterId" /><!--章节的id-->
    章节名称：<input type="text" disabled="disabled" value="@Model.chapterName" /><!--章节的名称-->
    <br /><br />
    @(Model.label)段落名称：<input type="text" id="SegmetsName" value="@Model.segmentName" />
    <br /><br />
    视频代码：<br />
    <textarea id="videoCode" rows="5" cols="35" >@Model.videoCode</textarea>
    <br />
    <br />
    课程笔记：<br />
    
    <!-- 加载编辑器的容器 -->
    <script id="container" name="Note" type="text/plain">
         @RPWRazor.RPRazorHelper.Raw(Model.note)
    </script>

    <br /><br />
    段落序号：<input type="text" id="SerialNo" value="@Model.serialNo" />
    <br /><br />
    <input type="button" id="btnSave" value="保存" />
   

</body>
   
</html>
