
@RPWRazor.RPRazorHelper.Include("/head.html")
<title>忘了密码？</title>
<script src="/js/jquery-1.4.2.min.js"></script>
@RPWRazor.RPRazorHelper.Include("/link.html")
<script type="text/javascript">
    function firm() {

        //利用对话框返回的值 （true 或者 false）

        if (confirm("修改密码成功！现在登录？")) {

            //如果是true ，那么就把页面转向登录界面
            window.location.href = "login.shtml";
        }
        else {
            //否则,取消
           //alert("你按了取消，那就是返回false");
        }

    }
    function refreshYZM() {//验证码刷新
        var imgYZM = document.getElementById("verificationCode123");
        imgYZM.src = "verificationCode.ashx?t=" + new Date();
    }
    $(function () {

        $("#btnSave").click(function () {
          
            var email = $("#email").val();
            var pwd = $("#pwd").val();
            var pwd_1 = $("#pwd_1").val();
            if (pwd.length == 0) {
                alert("密码不能为空！");
                return;
            }
            if (pwd_1.length == 0) {
                alert("密码不能为空！");
                return;
            }
            if (pwd != pwd_1) {
                $("#pwdMsg").text("两次输入的密码不一致！");
                return;
            }
         
            $.ajax({
                type: "post", url: "FrontUserController.ashx",
                dataType: "json",
                data: { action: "setPwd", pwd: pwd, email: email },
                success: function (data) {
                    if (data.Status == "ok") {
                        firm();

                    } else if (data.Status == "error") {
                        alert("修改密码失败！" + data.Msg);
                    }
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        });

        //鼠标离开第二个密码文本框后，检查是否输入一致
        $("#pwd_1").blur(function () {
            var pwd = $("#pwd").val();
            var pwd_1 = $("#pwd_1").val();
            if (pwd != pwd_1) {
                $("#pwdMsg").text("两次输入的密码不一致！");
                return;
            } else {
                $("#pwdMsg").text("");
            }
        });
    });
</script>

@RPWRazor.RPRazorHelper.Include("/headend.html")
@RPWRazor.RPRazorHelper.Include("/navbar.html")
<h1>如鹏安全中心：</h1>
<h2>确认账号>安全验证>重置密码</h2>
<h5>请输入您的新密码：</h5>
<h4><span id="userMsg">您的用户名是：@Model.name</span></h4>
<br />
<br />
<label>输入密码：<input type="password" id="pwd" /></label>
<br />
<br />
<label>再次输入密码：<input type="password" id="pwd_1" /></label><span id="pwdMsg"></span>
<br />
<br />
<input type="button" id="btnSave" value="确定">
<br />
<br />
<input type="hidden" id="email" value="@Model.email" />
@RPWRazor.RPRazorHelper.Include("/foot.html")
